<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <!-- Font Awesome icons (free version)-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/styles.css}" href="../../static/css/styles.css" rel="stylesheet">
    <link th:href="@{/css/properties index.css}" href="../../static/css/properties%20index.css" rel="stylesheet"/>
    <!-- Fonts CSS-->
    <link th:href="@{/css/heading.css}" href="../../static/css/heading.css" rel="stylesheet">
    <link th:href="@{/css/body.css}" href="../../static/css/body.css" rel="stylesheet">
    <link th:href="@{/css/errorPages/500style-error-page.css}" href="../../static/css/errorPages/500style-error-page.css" rel="stylesheet">
</head>
<body>
<div class="error-500" data-text="Oh no! Our spaghetti code is not working properly. We will be back soon!">
    <spaguetti>
        <fork></fork>
        <meat></meat>
        <pasta></pasta>
        <plate></plate>
    </spaguetti>
</div>
<a th:href="@{/}" href="#" class="btn btn-dark-green">Homepage</a>
<script th:src="@{/js/error.js}" src="../../static/js/error.js"></script>
</body>
</html>