<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">


</head>
<body>

<div th:fragment="header">
</div>
<div th:fragment="succsess-and-error-popup" >
    <div class="container " style="margin-top: 8rem">
        <div th:if="${success != null}" class="alert alert-success alert-dismissible fade show">
            <strong>Success!</strong>
            <p th:text="${success}">
                Your successful policy upload.
            </p>
            <button th:type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show d-block">
            <strong>Fail!</strong>
            <br>
            <i th:text="${error}">
                Your successful policy upload.
            </i>
            <form style="display: contents" th:if="${buttonProperties != null}" th:action="@{__${buttonProperties.get('URL')}__}" method="post">
                <button class="btn btn-success" type="submit" name="email" th:value="${buttonProperties.get('value')}">Send new link</button></form>
            <button th:type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    </div>
</div>


<div th:fragment="nav-bar">
    <nav class="navbar navbar-expand-lg bg-secondary sticky-top" style=" background-color: #e7b633" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" th:href="@{/}">Beer Tag</a>
            <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                    type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <div sec:authorize="isAuthenticated()" class="btn-group nav-item mr-3">
                        <a class="navbar-brand dropdown-toggle" href="#" id="bd-beer" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"><i class="fas fa-beer"></i></a>
                        <ul class="dropdown-menu fadeIn">
                            <li><a class="dropdown-item" th:href="@{/beers/create/}">Add beer</a></li>
                        </ul>
                    </div>

                    <div class="dropdown btn-group nav-item mr-3">
                        <a class="navbar-brand dropdown-toggle" href="#" id="bd-user" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"><i class="fas fa-user "></i></a>
                        <ul class="dropdown-menu fadeIn">
                            <li sec:authorize="!isAuthenticated()">
                                <a class="nav-item dropdown-item" th:href="@{/logIn}">Log In</a>
                            </li>
                            <li sec:authorize="!isAuthenticated()">
                                <a class="dropdown-item" href="" th:href="@{/sign-up}">Sign Up</a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a class="dropdown-item" th:href="${'/users/personal/profile'}">My Profile</a>
                            </li>
                            <li sec:authorize="isAuthenticated()"><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                            <li sec:authorize="hasRole('ADMIN')">
                                <hr>
                                <a class="dropdown-item" th:href="@{/admin}">Admin</a></li>
                        </ul>
                    </div>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link " href="/#about">ABOUT US</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">LOCATION</h4>
                    <p class="pre-wrap lead mb-0">1000 SOFIA BULGARIA</p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">AROUND THE WEB</h4><a class="btn btn-outline-light btn-social mx-1"
                                                           href="https://www.facebook.com/profile.php?id=100001441659505" target="_blank"><i
                        class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1"
                                                                   href="https://www.linkedin.com/in/yoan-kanchev/" target="_blank"><i
                        class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1"
                                                                    href="https://gitlab.com/YoanKanchev" target="_blank"><i
                        class="fab fa-fw fa-gitlab"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="mb-4">ABOUT ME</h4>
                    <img src="https://i.imgur.com/3hAk1oC.jpg" class="rounded-circle " style="width: 100px; height: 100px" >
                    <p class="pre-wrap lead mb-0">Yoan Kanchev a Web Software Engineer with passion for programming and a taste for beers :)</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Section-->
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
    </section>
</div>
</body>
</html>