#inlineFormInputName:hover {
    cursor: text;
    background-color: white;

}

.card {
    display: block;
    text-decoration: none;
    color: black;
    /*transition: all 0.5s;*/
}

.card:hover {
    text-decoration: none;
    /*transform: scale(1.1);*/
    color: #0d0d0d;
}


.card h5 {
    display: block;
    text-decoration: none;
    color: black;
}

body {

    background-image: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=655&q=80");
    background-size: 100%;
}

.sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.tag-field {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.button-right {
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button-left {
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-center {
    margin: 0;
  border-radius: 0;
}

.be-ava-comment {
    object-fit: cover;
}

.image-input-fields{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.or-seperator {
    margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}
.or-seperator b {
    color: #666;
    padding: 0 8px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -15px;
    z-index: 1;
}
.navbar .action-buttons .dropdown-toggle::after {
    display: none;
}
.form-check-label input {
    position: relative;
    top: 1px;
}
@media (min-width: 1200px){
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}
@media (max-width: 768px){
    .navbar .dropdown-menu.action-form {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }
    .navbar .form-inline {
        display: block;
    }
    .navbar .input-group {
        width: 100%;
    }
}
.checked {
    color: orange;
}
.search-bar{
    flex-grow: 1;
}
