<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <!--    <link rel="stylesheet" type="text/css" href="userChangesAdmin.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">
    <link th:href="@{/css/properties index.css}" href="../static/css/properties index.css" rel="stylesheet"/>
    <!-- Fonts CSS-->
<!--    <link th:href="@{/css/heading.css}" href="../static/css/heading.css" rel="stylesheet">-->
<!--    <link th:href="@{/css/body.css}" href="../static/css/body.css" rel="stylesheet">-->
    <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
<div th:include="fragments/general.html :: nav-bar"></div>
<div th:include="fragments/general.html :: succsess-and-error-popup"></div>

<div class="container" style="margin-top: 50px">
    <div class="row flex-lg-nowrap">
        <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
            <div class="card p-3">
                <div class="e-navlist e-navlist--active-bg">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link px-2 active" href="#"><i
                                class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link px-2" href="#"><i class="fa fa-fw fa-th mr-1"></i><span>CRUD</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link px-2" href="#"><i
                                class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="e-tabs mb-3 px-3">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab"
                           aria-controls="user-changes"
                           aria-selected="true">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="beers-tab" data-toggle="tab" href="#beers" role="tab"
                           aria-controls="beer-changes"
                           aria-selected="false">Beers</a>
                    </li>
                </ul>
            </div>
            <!--            TAB CONTENT-->
            <div class="tab-content ">
                <!--                USER TAB-->
                <div class="row tab-pane show active" id="users" role="tab" aria-labelledby="users-tab">
                    <div class="row d-flex mb-3">
                        <div class="col mb-3">
                            <div class="e-panel card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h6 class="mr-2"><span th:text="${loggedUser.username}"></span><small
                                                class="px-1">Be a wise
                                            leader</small></h6>
                                    </div>
                                    <div class="e-table">
                                        <div class="table-responsive table-lg mt-3 user-results"
                                             th:fragment="user-results">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Photo</th>
                                                    <th class="max-width">Name</th>
                                                    <th class="sortable">Role</th>
                                                    <th>Is active</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="user : ${userPage.content}">

                                                    <td class="align-middle text-center">
                                                        <div th:unless="${user.getPicture()==null}">
                                                            <img th:src="${user.getPicture()}"
                                                                 alt="" class="be-ava-comment"></div>
                                                    </td>
                                                    <td th:text="${user.getUsername()}"
                                                        class="text-nowrap align-middle">Username
                                                    </td>
                                                    <td th:text="${user.getHighestAuthority().replace('ROLE_','')}"
                                                        class="text-nowrap align-middle"><span>Role</span></td>


                                                    <td th:if="${user.isEnabled()&&user.getHighestAuthority().equals('ROLE_ADMIN')}"
                                                        class="text-center align-middle">
                                                        <div>
                                                            <i class="fa text-muted fa-toggle-on"></i>
                                                        </div>
                                                    </td>
                                                    <td th:if="${!user.isEnabled()&&user.getHighestAuthority().equals('ROLE_ADMIN')}"
                                                        class="text-center align-middle">
                                                        <div>
                                                            <i class="fa fa-fw text-muted fa-toggle-off"></i>
                                                        </div>
                                                    </td>
                                                    <td th:if="${user.isEnabled()&&!user.getHighestAuthority().equals('ROLE_ADMIN')}"
                                                        class="text-center align-middle"><a
                                                            th:href="@{'/admin/'+${user.getId()}+'/deactivateUser'}"><i
                                                            class="fa fa-fw text-secondary cursor-pointer fa-toggle-on"></i></a>
                                                    </td>
                                                    <td th:if="${!user.isEnabled()&&!user.getHighestAuthority().equals('ROLE_ADMIN')}"
                                                        class="text-center align-middle"><a
                                                            th:href="@{'/admin/'+${user.getId()}+'/activateUser'}"><i
                                                            class="fa fa-fw text-secondary cursor-pointer fa-toggle-off"></i></a>
                                                    </td>


                                                    <td th:if="${user.getHighestAuthority().equals('ROLE_ADMIN')}"
                                                        class="text-center align-middle">
                                                        <div class="btn-group align-top">
                                                            <div class="btn btn-sm disabled badge">
                                                                Edit
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td th:unless="${user.getHighestAuthority().equals('ROLE_ADMIN')}"
                                                        class="text-center align-middle">
                                                        <div class="btn-group align-top">
                                                            <button class="btn btn-sm btn-outline-secondary badge"
                                                                    type="button"
                                                                    data-toggle="modal"
                                                                    th:attr="data-target=${'#updateModalUser'+ user.getId()}">
                                                                Edit
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="d-flex justify-content-center">

                                            <ul class="pagination mt-3 mb-0">
                                                <li th:if="${userPage.totalPages > 1 && currentPageUsers > 1}"
                                                    class="active page-item">
                                                    <a href="#"
                                                       th:href="@{/admin/users-pagination(sizeUsers=${userPage.size}, pageUsers = 1)}"
                                                       class="m-1 paginator users page-link"
                                                       onclick="getDifferentPages(event,this)"><<</a>
                                                </li>
                                                <li th:if="${userPage.totalPages > 1 && currentPageUsers > 1}"
                                                    class="active page-item">
                                                    <a href="#"
                                                       th:href="@{/admin/users-pagination(sizeUsers=${userPage.size}, pageUsers=${currentPageUsers - 1})}"
                                                       class="m-1 paginator users page-link"
                                                       onclick="getDifferentPages(event,this)"><</a>
                                                </li>
                                                <li class="active page-item" th:if="${userPage.totalPages > 0}"
                                                    th:each="pageNumber : ${pageNumberUsers}">
                                                    <a href="#"
                                                       th:href="@{/admin/users-pagination(sizeUsers=${userPage.size}, pageUsers=${pageNumber})}"
                                                       class="m-1 paginator users page-link" th:text="${pageNumber}"
                                                       th:classappend="(${pageNumber==userPage.number + 1} ? active)+' '+(${pageNumber==userPage.number + 1} ? btn-danger)"
                                                       onclick="getDifferentPages(event,this)">1</a>
                                                </li>
                                                <li th:if="${userPage.totalPages > 1 && currentPageUsers < userPage.totalPages}"
                                                    class="active page-item">
                                                    <a href="#"
                                                       th:href="@{/admin/users-pagination(sizeUsers=${userPage.size}, pageUsers=${currentPageUsers + 1})}"
                                                       class="m-1 paginator users page-link"
                                                       onclick="getDifferentPages(event,this)">></a>
                                                </li>
                                                <li th:if="${userPage.totalPages > 1 && currentPageUsers < userPage.totalPages}"
                                                    class="active page-item">
                                                    <a href="#"
                                                       th:href="@{/admin/users-pagination(sizeUsers=${userPage.size}, pageUsers=${userPage.size})}"
                                                       class="m-1 paginator users page-link"
                                                       onclick="getDifferentPages(event,this)">>></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center px-xl-3">
                                        <button class="btn btn-success btn-block" type="button" data-toggle="modal"
                                                data-target="#user-create-modal">
                                            New User
                                        </button>
                                    </div>
                                    <form action="#" th:action="@{'/admin/userSearch'}" th:object="${userFilterDto}"
                                          method="get">
                                        <hr class="my-3">
                                        <div>

                                            <div class="form-group">
                                                <label>Search by Name:</label>
                                                <div><input class="form-control w-100 search-change users" type="text"
                                                            name="usernameOrMail" placeholder="Name" value=""></div>
                                            </div>
                                        </div>
                                        <hr class="my-3">
                                        <div class="users search-change">
                                            <label>Role:</label>
                                            <div class="px-2">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="user-status"
                                                           th:field="*{role}"
                                                           value="ROLE_ADMIN" id="users-role-admin">
                                                    <label class="custom-control-label"
                                                           for="users-role-admin">Admin</label>
                                                </div>
                                            </div>
                                            <div class="px-2">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="user-status"
                                                           id="users-role-agent"
                                                           th:field="*{role}" value="ROLE_AGENT">
                                                    <label class="custom-control-label"
                                                           for="users-role-agent">Agent</label>
                                                </div>
                                            </div>
                                            <div class="px-2">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="user-status"
                                                           id="users-role-regular"
                                                           th:field="*{role}" value="ROLE_USER">
                                                    <label class="custom-control-label"
                                                           for="users-role-regular">Regular</label>
                                                </div>
                                            </div>
                                            <div class="px-2">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="user-status"
                                                           id="users-role-any"
                                                           checked="checked" th:field="*{role}" value="">
                                                    <label class="custom-control-label" for="users-role-any">Any</label>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-3">
                                        <div class="users search-change">
                                            <label>Status:</label>
                                            <div class="px-2">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="user-status"
                                                           id="users-status-any"
                                                           checked="checked" th:field="*{isActive}" value=""
                                                           th:checked="checked">
                                                    <label class="custom-control-label"
                                                           for="users-status-any">Any</label>
                                                </div>
                                            </div>

                                            <div class="px-2">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="user-status"
                                                           id="users-status-active"
                                                           th:field="*{isActive}" value="true">
                                                    <label class="custom-control-label"
                                                           for="users-status-active">Active</label>
                                                </div>
                                            </div>
                                            <div class="px-2">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="user-status"
                                                           th:field="*{isActive}"
                                                           value="false"
                                                           id="users-status-disabled">
                                                    <label class="custom-control-label" for="users-status-disabled">Disabled</label>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                BEER TAB-->
                <div class="row tab-pane" id="beers" role="tab" aria-labelledby="beers-tab">
                    <div class="row d-flex mb-3">
                        <div class="col mb-3">
                            <div class="e-panel card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h6 class="mr-2"><span th:text="${loggedUser.username}"></span><small
                                                class="px-1">Be a wise
                                            leader</small></h6>
                                    </div>
                                    <div class="e-table">
                                        <div class="table-responsive table-lg mt-3 beer-results"
                                             th:fragment="beer-results">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Photo</th>
                                                    <th class="max-width">Name</th>
                                                    <!--                                                    <th class="sortable">Role</th>-->
                                                    <th>Is active</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="beer : ${beerPage.content}">

                                                    <td class="align-middle text-center">
                                                        <div th:unless="${beer.getPicture()==null}">
                                                            <img th:src="${beer.getPicture()}"
                                                                 alt="" class="be-ava-comment"></div>
                                                    </td>
                                                    <td th:text="${beer.getName()}" class="text-nowrap align-middle">
                                                        Name
                                                    </td>

                                                    <td th:if="${beer.getActive()}" class="text-center align-middle"><a
                                                            th:href="@{'/admin/'+${beer.getId()}+'/deactivateBeer'}"><i
                                                            class="fa fa-fw text-secondary cursor-pointer fa-toggle-on"></i></a>
                                                    </td>
                                                    <td th:unless="${beer.getActive()}"
                                                        class="text-center align-middle"><a
                                                            th:href="@{'/admin/'+${beer.getId()}+'/activateBeer'}"><i
                                                            class="fa fa-fw text-secondary cursor-pointer fa-toggle-off"></i></a>
                                                    </td>


                                                    <td class="text-center align-middle">
                                                        <div class="btn-group align-top">
                                                            <button class="btn btn-sm btn-outline-secondary badge"
                                                                    type="button"
                                                                    data-toggle="modal"
                                                                    th:attr="data-target=${'#updateModalBeer'+ beer.getId()}">Edit
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="d-flex justify-content-center">

                                                <ul th:if="${beerPage.totalPages > 0}"
                                                    class="pagination mt-3 mb-0">

                                                    <li th:if="${beerPage.totalPages > 1}" class="page-item">
                                                        <a href="#"
                                                           th:href="@{/admin/beers-pagination(sizeBeers=${beerPage.size}, pageBeers = 1)}"
                                                           class="m-1 paginator beers page-link"
                                                           onclick="getDifferentPages(event,this)"><<</a>
                                                    </li>
                                                    <li th:if="${beerPage.totalPages > 1 && currentPageBeers > 1}"
                                                        class=" page-item">
                                                        <a href="#"
                                                           th:href="@{/admin/beers-pagination(sizeBeers=${beerPage.size}, pageBeers=${currentPageBeers - 1})}"
                                                           class="m-1 paginator beers page-link"
                                                           onclick="getDifferentPages(event,this)"><</a>
                                                    </li>

                                                    <li class="active page-item"
                                                        th:each="pageNumber : ${pageNumberBeers}">
                                                        <a href="#"
                                                           th:href="@{/admin/beers-pagination(sizeBeers=${beerPage.size}, pageBeers=${pageNumber})}"
                                                           class="paginator beers m-1 page-link" th:text="${pageNumber}"
                                                           th:classappend="(${pageNumber==beerPage.number + 1} ? active)+' '+(${pageNumber==beerPage.number + 1} ? btn-danger)"
                                                           onclick="getDifferentPages(event,this)">1</a>
                                                    </li>
                                                    <li th:if="${beerPage.totalPages > 1 && currentPageBeers < beerPage.totalPages}"
                                                        class=" page-item">
                                                        <a href="#"
                                                           th:href="@{/admin/beers-pagination(sizeBeers=${beerPage.size}, pageBeers=${currentPageBeers + 1})}"
                                                           class="m-1 paginator beers m-1 page-link"
                                                           onclick="getDifferentPages(event,this)">></a>
                                                    </li>
                                                    <li th:if="${beerPage.totalPages > 1 && currentPageBeers < beerPage.totalPages}"
                                                        class=" page-item ">
                                                        <a href="#"
                                                           th:href="@{/admin/beers-pagination(sizeBeers=${beerPage.size}, pageBeers=${pageNumberBeers.size})}"
                                                           class="m-1 paginator beers page-link"
                                                           onclick="getDifferentPages(event,this)">>></a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                        FILTER SECTION-->
                        <div class="col-12 col-lg-3 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center px-xl-3">
                                        <button class="btn btn-success btn-block" type="button" data-toggle="modal"
                                                data-target="#beer-create-modal">
                                            New Beer
                                        </button>
                                    </div>
                                    <form action="#" th:action="@{'/admin'}" th:object="${beerFilterDto}" method="get">
                                        <hr class="my-3">
                                        <div>

                                            <div class="form-group">
                                                <label>Search by Name:</label>
                                                <div><input class="form-control w-100 search-bar beers search-change"
                                                            type="text" name="name" placeholder="Name" value=""></div>
                                            </div>
                                        </div>
                                        <hr class="my-3">
                                        <div class="">
                                            <label>Filters:</label>
                                            <div class="px-2">
                                                <select th:field="*{countryId}"
                                                        class="custom-select mb-3 beers search-change">
                                                    <option selected value="">Any country...</option>
                                                    <option th:each="country : ${countries}" th:value="${country.id}"
                                                            th:text="${country.name}">Weiss
                                                    </option>

                                                </select>
                                            </div>
<!--                                            <div class="px-2">-->
<!--                                                <select th:field="*{breweryId}"-->
<!--                                                        class="custom-select brewery-dropdown beers mb-3 search-change">-->
<!--                                                    <option selected value="">Any brewery...</option>-->
<!--                                                    <option th:each="brewery : ${breweries}" th:value="${brewery.id}"-->
<!--                                                            th:text="${brewery.name}">Weiss-->
<!--                                                    </option>-->

<!--                                                </select>-->
<!--                                            </div>-->
                                            <div class="px-2">
                                                <select th:field="*{styleId}" class="custom-select beers mb-3 search-change"
                                                        id="style-select">
                                                    <option selected value="">Any style...</option>
                                                    <option th:each="style : ${styles}" th:value="${style.id}"
                                                            th:text="${style.name}">Weiss
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr class="my-3">
                                        <div class="px-2">
                                            <select th:field=" *{sortBy}"
                                                    class="custom-select beers search-change">
                                                <option selected value="-1">Sort by...</option>
                                                <option value="name">Name</option>
                                            </select>
                                        </div>

                                        <hr class="my-3">
                                        <div class="beers search-change">
                                            <label>Status:</label>
                                            <div class="px-2">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="user-status"
                                                           id="beers-status-any"
                                                           checked="checked" th:field="*{isActive}" value="">
                                                    <label class="custom-control-label"
                                                           for="beers-status-any">Any</label>
                                                </div>
                                            </div>
                                            <div class="px-2">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="user-status"
                                                           id="beers-status-active"
                                                           th:field="*{isActive}" value="true">
                                                    <label class="custom-control-label"
                                                           for="beers-status-active">Active</label>
                                                </div>
                                            </div>
                                            <div class="px-2">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="user-status"
                                                           th:field="*{isActive}"
                                                           value="false"
                                                           id="beers-status-disabled">
                                                    <label class="custom-control-label" for="beers-status-disabled">Disabled</label>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- User Edit Modal -->
            <div class="modal fade" role="dialog" th:each="modalUser : ${allUsers}"
                 th:id="${'updateModalUser'+ modalUser.getId()}">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create User</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form th:action="@{'/admin/userEdit'}"
                              th:object="${updateUserDto}" class="well form-horizontal" action=" " method="post"
                              id="contact_form">
                            <div class="modal-body">
                                <div class="py-1">
                                    <form class="form" novalidate="">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <input hidden="hidden" name="id" th:value="${modalUser.getId()}">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>First Name</label>
                                                            <input class="form-control" type="text" name="firstName"
                                                                   th:value="${modalUser.getFirstName()}" required>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Last Name</label>
                                                            <input class="form-control" type="text" name="lastName"
                                                                   th:value="${modalUser.getLastName()}" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Username</label>
                                                            <input class="form-control" type="text" name="username"
                                                                   th:value="${modalUser.getUsername()}" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input class="form-control" type="text" name="email"
                                                                   th:value="${modalUser.getEmail()}" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="checkbox icheck-primary">
                                                    <label>Add role</label>
                                                    <select th:field="*{addRole}" class="custom-select mr-sm-2 ">
                                                        <option value="" selected>No roles added</option>
                                                        <option value="ROLE_AGENT">Agent</option>
                                                        <option value="ROLE_ADMIN">Admin</option>
                                                    </select>
                                                </div>
                                                <br>
                                                <div th:if="${modalUser.hasRole('ROLE_AGENT')}"
                                                     class="checkbox icheck-primary">
                                                    <label>Remove role</label>
                                                    <select th:field="*{removeRole}" class="custom-select mr-sm-2 ">
                                                        <option value="" selected>No roles removed</option>
                                                        <option value="ROLE_AGENT">Agent</option>
                                                    </select>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Reset picture</label>
                                                            <input th:field="*{pictureReset}" id="pictureReset"
                                                                   type="checkbox" checked
                                                                   data-toggle="toggle" data-on="Yes"
                                                                   data-off="No" data-onstyle="secondary"
                                                                   data-offstyle="outline-light">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-5">
                                                    <div class="col d-flex justify-content-end">
                                                        <button class="btn btn-primary" type="submit">Save Changes
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Beer Edit Modal -->
            <div class="modal fade" role="dialog" th:each="modalBeer : ${allBeers}"
                 th:id="${'updateModalBeer'+ modalBeer.getId()}">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Beer</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form th:action="@{'/admin/beerEdit'}"
                              th:object="${updateBeerDto}" class="well form-horizontal" action=" " method="post">
                            <div class="modal-body p-3">
                                <div class="py-1">
                                    <form class="form" novalidate="">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <!--                                                    <input hidden="hidden" name="id" th:value="${modalBeer.getId()}">-->
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Name</label>
                                                            <input class="form-control" type="text" name="firstName"
                                                                   th:value="${modalBeer.getName()}" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>ABV</label>
                                                            <input class="form-control" type="number" step="any"
                                                                   name="abv"
                                                                   th:value="${modalBeer.getAbv()}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Style</label>
                                                            <select required th:field="*{styleId}" name="style"
                                                                    class="form-control selectpicker">
                                                                <option th:value="${modalBeer.getStyle().getId()}"
                                                                        th:text="${modalBeer.getStyle().getName()}">
                                                                    Change style
                                                                </option>
                                                                <option th:each="style : ${styles}"
                                                                        th:value="${style.id}"
                                                                        th:text="${style.name}">Weiss
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Country</label>
                                                            <select required name="style"
                                                                    class="form-control selectpicker country-dropdown">
                                                                <option th:value="${modalBeer.getCountry().getId()}"
                                                                        th:text="${modalBeer.getCountry().getName()}">
                                                                    Change country
                                                                </option>
                                                                <option th:each="country : ${countries}"
                                                                        th:if="${country.id!=modalBeer.getCountry().getId()}"
                                                                        th:value="${country.id}"
                                                                        th:text="${country.name}">Weiss
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Brewery</label>
                                                            <select th:field="*{breweryId}" name="style"
                                                                    class="form-control selectpicker brewery-dropdown">
                                                                <option id="current-brewery"
                                                                        th:value="${modalBeer.getBrewery().getId()}"
                                                                        th:text="${modalBeer.getBrewery().getName()}">
                                                                    Change brewery
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Description</label>
                                                            <textarea name="description"
                                                                      th:text="${modalBeer.getDescription()}"
                                                                      placeholder="Beer desc" class="form-control"
                                                                      type="text"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Reset picture</label>
                                                            <input th:field="*{pictureReset}" type="checkbox" checked
                                                                   data-toggle="toggle" data-on="Yes"
                                                                   data-off="No" data-onstyle="secondary"
                                                                   data-offstyle="outline-light">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-5">
                                                    <div class="col d-flex justify-content-end">
                                                        <button class="btn btn-primary" type="submit">Save Changes
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!--            User Create Modal-->
            <div class="modal" role="dialog" id="user-create-modal">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create User</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <ul class="nav nav-tabs" id="myUpdateTam" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="user-changes-tab" data-toggle="tab" href="#user-changes"
                                   role="tab"
                                   aria-controls="user-changes"
                                   aria-selected="true">Crate</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="user-changes" role="tab"
                                 aria-labelledby="user-changes-tab">
                                <form th:action="@{'/admin/profile/create'}"
                                      th:object="${createUserDto}" class="well form-horizontal" action=" " method="post"
                                      id="">
                                    <div class="modal-body p-3">
                                        <div class="py-1">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>First Name</label>
                                                                <input class="form-control" type="text"
                                                                       name="firstName">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Last Name</label>
                                                                <input class="form-control" type="text" name="lastName"
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Username</label>
                                                                <input class="form-control" type="text" name="username"
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Email</label>
                                                                <input class="form-control" type="text" name="email">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="checkbox icheck-primary">
                                                        <label>Role</label>
                                                        <select th:field="*{role}" class="custom-select mr-sm-2 ">
                                                            <option value="ROLE_USER" selected>User</option>
                                                            <option value="ROLE_ADMIN">Admin</option>
                                                        </select>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Picture URL</label>
                                                                <div class="pic image-input-fields">
                                                                    <input class="form-control pictureUrl" type="text"
                                                                           name="picture">
                                                                    <label class="form-control m-0 btn overflow-dots"
                                                                           for="pic-1">Or
                                                                        upload file</label>
                                                                    <input hidden="hidden" type="file"
                                                                           class="custom-file-input pictureUpload"
                                                                           id="pic-1"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-12 col-sm-6 mb-3">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Password</label>
                                                                <input th:field="*{password}" required
                                                                       class="form-control" type="password"
                                                                       placeholder="••••••">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Confirm <span
                                                                        class="d-none d-xl-inline">Password</span></label>
                                                                <input th:field="*{confirmPassword}" required
                                                                       class="form-control"
                                                                       type="password"
                                                                       placeholder="••••••">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col d-flex justify-content-end">
                                                    <button class="btn btn-primary" type="submit">Create
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--            Beer Create Modal-->
            <div class="modal" role="dialog" id="beer-create-modal">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create Beer</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#beer-create" role="tab"
                                   aria-controls="user-changes"
                                   aria-selected="true">Crate</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="beer-create" role="tab" aria-labelledby="">
                                <form th:action="@{'/users/beer/update'}"
                                      th:object="${createBeerDto}" class="well form-horizontal" action=" "
                                      method="post">
                                    <div class="modal-body p-3">
                                        <div class="py-1">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Beer Name</label>
                                                                <input class="form-control" type="text"
                                                                       name="firstName">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>ABV</label>
                                                                <input class="form-control" type="number" step="any"
                                                                       name="abv">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Style</label>
                                                                <select required th:field="*{styleId}" name="style"
                                                                        class="form-control selectpicker">
                                                                    <option value="">Please select style
                                                                    </option>
                                                                    <option th:each="style : ${styles}"
                                                                            th:value="${style.id}"
                                                                            th:text="${style.name}">Weiss
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Country</label>
                                                                <select required name="country"
                                                                        class="form-control selectpicker country-dropdown">
                                                                    <option value="">Please select country
                                                                    </option>
                                                                    <option th:each="country : ${countries}"
                                                                            th:value="${country.id}"
                                                                            th:text="${country.name}">Weiss
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Brewery</label>
                                                                <select required th:field="*{breweryId}" name="style"
                                                                        class="form-control selectpicker brewery-dropdown">
                                                                    <option value="">Please select brewery</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Picture URL</label>
                                                        <div class="pic image-input-fields">
                                                            <input class="form-control pictureUrl" type="text"
                                                                   name="picture">
                                                            <label class="form-control m-0 btn overflow-dots"
                                                                   for="pic">Or
                                                                upload file</label>
                                                            <input hidden="hidden" type="file"
                                                                   class="custom-file-input pictureUpload"
                                                                   id="pic"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col d-flex justify-content-end m-3">
                                            <button class="btn btn-primary"
                                                    type="submit">Create
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div th:include="fragments/general.html :: footer"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        crossorigin="anonymous"></script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


<script th:src="@{../js/indexPageSearch.js}" th:inline="javascript" src="../static/js/indexPageSearch.js"></script>
<script th:src="@{../js/index.js}" th:inline="javascript" src="../static/js/index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/breweries-get.js}" th:inline="javascript" src="../static/js/breweries-get.js"></script>
<script th:src="@{/js/dynamic-refresh.js}" th:inline="javascript" src="../static/js/dynamic-refresh.js"></script>

</body>

</html>