<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Beer page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/beerPage/style.css}" type="text/css" href="../static/css/beerPage/style.css"/>
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">
    <link th:href="@{/css/properties index.css}" href="../static/css/properties index.css" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet">

</head>

<body>
<!--NAV BAR-->

<div th:include="fragments/general.html :: nav-bar"></div>
<div th:include="fragments/general.html :: succsess-and-error-popup"></div>
<!--//Portion from template-->

<div class="container web-portion " id="container-beer-stats">
    <div class="row top-det">

        <!--        //name of beer-->
        <div class="col-md-4">
            <div class="profil-det-img d-flex">
                <div class="pd">
                    <h1 th:text="${beer.getName()}">Kamenitza</h1>
                    <p th:text="${beer.getStyle().getName()}">Style</p>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-detail">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#info" role="tab" aria-controls="home"
                   aria-selected="true">Info</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab"
                   aria-controls="contact" aria-selected="false">Ratings</a>
            </li>
            <li sec:authorize="isAuthenticated()" th:if="${beer.getCreatedBy().id==loggedUser.id || loggedUser.hasRole('ROLE_ADMIN')}"
                class="nav-item">
                <a class="nav-link" id="edition-tab" data-toggle="tab" href="#update" role="tab"
                   aria-controls="contact" aria-selected="false">Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="similar-tab" data-toggle="tab" href="#similar" role="tab"
                   aria-controls="profile" aria-selected="false">Similar</a>
            </li>
        </ul>

        <!--        Info tab-->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="home-tab">
                <div class="row no-margin home-det">
                    <div class="col-sm-4 img-fluid home-tab-img">
                        <div th:if="${beer.getPicture()==null}">
                            <img src="https://www.bsmc.net.au/wp-content/uploads/No-image-available.jpg"
                                 class="card-img-empty beer-picture"
                                 alt="...">
                        </div>
                        <div th:unless="${beer.getPicture()==null}">

                            <img th:src="${beer.getPicture()}"
                                 alt="..." src="" class="border-dark beer-picture"></div>
                    </div>
                    <div class="col-md-8 home-dat">
                        <div class="detal-jumbo">
                            <h3 th:href="beers.description">Description</h3>
                            <p th:text="${beer.getDescription()}">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries,text ever since the 1500s, when an unknown printer took
                                a galley of type and scrambled it to make a type specimen book. It has survived not only
                                five centuries,</p>
                        </div>
                        <div sec:authorize="isAuthenticated()" class="links">
                            <div class="row ">
                                <div class="col-xl-12 col-md-12">
                                    <ul class="btn-link d-flex">
                                        <div>
                                            <form th:if="${loggedUser.hasFavouriteBeer(beer.getId())}"
                                                  th:action="@{'/beers/'+${beer.getId()}+'/favourite'}" method="post">
                                                <button type="submit" class="btn btn-danger  button-left"><i
                                                        class="fa fa-star mr-1"></i>Remove from favourite
                                                </button>
                                            </form>
                                        </div>

                                        <div th:unless="${loggedUser.hasFavouriteBeer(beer.getId())}">
                                            <form th:action="@{'/beers/'+${beer.getId()}+'/favourite'}" method="post">
                                                <button type="submit" class="btn btn-success button-left"><i
                                                        class="fa fa-star mr-1"></i>Add to favourite
                                                </button>
                                            </form>
                                        </div>

                                        <div th:if="${loggedUser.hasDrunkBeer(beer.getId())}">
                                            <form th:action="@{'/beers/'+${beer.getId()}+'/drunk'}" method="post">
                                                <button type="submit" class="btn btn-danger red button-right"><i
                                                        class="fa fa-beer mr-1"></i>Remove from drunk
                                                </button>
                                            </form>
                                        </div>

                                        <div th:unless="${loggedUser.hasDrunkBeer(beer.getId())}">
                                            <form th:action="@{'/beers/'+${beer.getId()}+'/drunk'}" method="post">
                                                <button type="submit" class="btn btn-success green button-right"><i
                                                        class="fa fa-beer mr-1"></i>Mark as drunk
                                                </button>
                                            </form>
                                        </div>
                                    </ul>
                                    <br>
                                    <div sec:authorize="isAuthenticated()" class="input-group">

                                        <form th:action="@{'/beers/'+ ${beer.getId()} +'/tag'}"
                                              th:object="${createTag}" class="well form-horizontal " action=" "
                                              method="post">
                                            <div class="tag-field">
                                                <input th:field="*{name}" type="text" class="form-control button-left"
                                                       placeholder="Tag name..."
                                                       aria-describedby="fileHelp" required>
                                                <button type="submit" class="btn btn-success green button-right"><i
                                                        class="fa fa-tag"></i> tag
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="jumbo-address">
                            <div class="row no-margin">
                                <div class="col-lg-6 no-padding">

                                    <table class="addrss-list">
                                        <tbody>
                                        <tr>
                                            <th>ABV</th>
                                            <td th:text="${beer.getAbv()}+'%'">15%</td>
                                        </tr>
                                        <tr>
                                            <th>Brewery</th>
                                            <td th:text="${beer.getBrewery().getName()}">Brewery</td>
                                        </tr>
                                        <tr>
                                            <th>Country</th>
                                            <td th:text="${beer.getCountry().getName()}">Bulgaria</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="col-lg-6 no-padding">
                                    <table class="addrss-list">
                                        <tbody>
                                        <tr>
                                            <th>Rating</th>
                                            <div th:if="${beer.getAvgRating()}==null">
                                                <td th:text="'Not rated'">15/10</td>
                                            </div>
                                            <div th:unless="${beer.getAvgRating()}==null">
                                                <td>
                                                    <div>
                                                        <span th:if="${beer.getAvgRating()>=1}" class="fa fa-beer fa-lg checked"></span>
                                                        <span th:unless="${beer.getAvgRating()>=1}" class="fa fa-beer fa-lg"></span>
                                                        <span th:if="${beer.getAvgRating()>=2}" class="fa fa-beer fa-lg checked"></span>
                                                        <span th:unless="${beer.getAvgRating()>=2}" class="fa fa-beer fa-lg"></span>
                                                        <span th:if="${beer.getAvgRating()>=3}" class="fa fa-beer fa-lg checked"></span>
                                                        <span th:unless="${beer.getAvgRating()>=3}" class="fa fa-beer fa-lg"></span>
                                                        <span th:if="${beer.getAvgRating()>=4}" class="fa fa-beer fa-lg checked"></span>
                                                        <span th:unless="${beer.getAvgRating()>=4}" class="fa fa-beer fa-lg"></span>
                                                        <span th:if="${beer.getAvgRating()>=5}" class="fa fa-beer fa-lg checked"></span>
                                                        <span th:unless="${beer.getAvgRating()>=5}" class="fa fa-beer fa-lg"></span></div>
                                                </td>
                                            </div>
                                        </tr>
                                        <tr>
                                            <th>Tags</th>
                                            <td>
                                                <div>
                                                    <div th:if="${tags.isEmpty()}"><span>No tags</span>
                                                    </div>
                                                    <div th:unless="${tags.isEmpty()}">
                                                        <a th:each="tag : ${tags}"
                                                           th:text="'#'+${tag.getName()}+' '">10/10</a>
                                                    </div>
                                                </div>
                                            </td>

                                        </tr>
                                        <th>Created by</th>
                                        <td>
                                            <div>
                                                <a th:href="@{'/users/'+${beer.getCreatedBy().getId()}}" href=""
                                                   th:text="${beer.getCreatedBy().getUsername()}">User</a>
                                            </div>
                                        </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--            Comments tab-->
            <div class="tab-pane fade profile-tab" id="comments" role="tabpanel" aria-labelledby="comments-tab">

                <div class="container">
                    <!--comments-->
                    <div class="be-comment-block">
                        <h1 th:text="'Ratings'+'('+${beer.getRatings().size()}+')'" class="comments-title">Ratings</h1>
                        <div th:each="rating : ${beer.getRatings()}">
                            <div class="be-comment">
                                <div class="be-img-comment">
                                    <a th:href="@{'/users/'+${rating.getCreatedBy().getId()}}" href="">
                                        <div th:if="${rating.getCreatedBy().getPicture()==null}">
                                            <img src="https://www.bsmc.net.au/wp-content/uploads/No-image-available.jpg"
                                                 class="card-img-empty be-ava-comment"
                                                 alt="">
                                        </div>
                                        <div th:unless="${rating.getCreatedBy().getPicture()==null}">
                                            <img th:src="${rating.getCreatedBy().getPicture()}"
                                                 alt="" class="be-ava-comment"></div>
                                    </a>
                                </div>
                                <button sec:authorize="isAuthenticated()"
                                        th:if="${loggedUser.equals(rating.getCreatedBy())|| loggedUser.hasRole('ROLE_ADMIN')}" type="button"
                                        class="fa-pull-right btn btn-danger" data-toggle="modal"
                                        data-target="#modalConfirmDelete">x
                                </button>
                                <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                                        <!--Content-->
                                        <div class="modal-content text-center">
                                            <!--Header-->
                                            <div class="modal-header d-flex justify-content-center">
                                                <p class="heading">Are you sure you want to delete rating?</p>
                                            </div>
                                            <!--Body-->
                                            <div class="modal-body">
                                                <i class="fas fa-times fa-4x animated rotateIn"></i>
                                            </div>

                                            <!--Footer-->
                                            <div class="modal-footer flex-center">
                                                <form th:action="@{'/beers/'+${beer.id}+'/delete-rating'}" method="post">
                                                    <input hidden="hidden"  th:value="${rating.id}" name="ratingId">
                                                    <button  class="btn  btn-outline-brown" type="submit" >Yes</button>
                                                </form>
                                                <a type="button" class="btn  btn-brown waves-effect" data-dismiss="modal">No</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="be-comment-content">

                                    <span class="be-comment-name">
					<a th:href="@{'/users/'+${rating.getCreatedBy().getId()}}" th:text="${rating.getCreatedBy().getUsername()}"
                       href="">Ravi Sah</a>

                     <div th:unless="${rating.getRating()}==null">
                                                <td>
                                                    <span class="m-0" href="blog-detail-2.html">Rating:</span>
                                                    <div>

                                                        <span th:if="${rating.getRating()>=1}" class="fa fa-beer fa-lg checked"></span>
                                                        <span th:unless="${rating.getRating()>=1}" class="fa fa-beer fa-lg"></span>
                                                        <span th:if="${rating.getRating()>=2}" class="fa fa-beer fa-lg checked"></span>
                                                        <span th:unless="${rating.getRating()>=2}" class="fa fa-beer fa-lg"></span>
                                                        <span th:if="${rating.getRating()>=3}" class="fa fa-beer fa-lg checked"></span>
                                                        <span th:unless="${rating.getRating()>=3}" class="fa fa-beer fa-lg"></span>
                                                        <span th:if="${rating.getRating()>=4}" class="fa fa-beer fa-lg checked"></span>
                                                        <span th:unless="${rating.getRating()>=4}" class="fa fa-beer fa-lg"></span>
                                                        <span th:if="${rating.getRating()>=5}" class="fa fa-beer fa-lg checked"></span>
                                                        <span th:unless="${rating.getRating()>=5}" class="fa fa-beer fa-lg"></span></div>
                                                </td>
                                            </div>
					</span>
                                    <span th:text="${rating.getCreateDate()}" class="be-comment-time">
					<i class="fa fa-clock-o"></i>
					May 27, 2015 at 3:14am
				</span>
                                    <p th:text="${rating.getComment()}" class="be-comment-text">
                                        Pellentesque gravida tristique ultrices.
                                        Sed blandit varius mauris, vel volutpat urna hendrerit id.
                                        Curabitur rutrum dolor gravida turpis tristique efficitur.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--add rating-->
                        <div sec:authorize="isAuthenticated()" th:if="${loggedUser != null && !loggedUser.hasRatedBeer(beer.id)}"
                             class="container add-rating">
                            <div class="row">
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="widget-area no-padding blank">
                                        <div class="status-upload">
                                            <form th:action="@{'/beers/'+${beer.getId()}+'/rate'}" th:object="${rating}"
                                                  method="post">
                                                <textarea th:field="*{comment}" placeholder="Rate beer"
                                                          class="rating-comment"></textarea>
                                                <ul>
                                                    <select th:field="*{rating}" class="custom-select mr-sm-2 "
                                                            id="sortBy-select">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </ul>
                                                <button type="submit" class="btn btn-success green"><i
                                                        class="fa fa-envelope"></i> Rate
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--            Update tab-->
            <div class="tab-pane education-detail fade" id="update" role="tabpanel" aria-labelledby="update-tab">
                <!-- Button trigger modal-->
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal"
                        data-target="#update-beer-modal">Update beer
                </button>
            </div>

            <!--            Similar tab-->
            <div class="tab-pane education-detail fade" id="similar" role="tabpanel" aria-labelledby="similar-tab">
                <div class="results-similar ">
                    <div class="" id="beer-cards-similar" th:each="beer : ${similarBeers}">
                        <a th:href="@{'/beers/'+${beer.getId()}}" class="card">
                            <div id="picture">
                                <div class="img-fluid img-thumbnail">
                                    <div class="overflow-dots">
                                        <h3 th:text="${beer.name}" class="card-title text-center ">Card title</h3></div>
                                    <img th:src="${beer.getPicture()}"
                                         alt="..." src="" class="img-blur beer-card-pictures-similar"></div>
                            </div>
                            <div class="card-body modal-full-height">
                                <h5 th:text="${beer.getStyle().getName()}" class="card-title text-center">Style</h5>
                                <hr>
                                <div class="container-beer-items">
                                    <tbody>
                                    <tr class="border">
                                        <div class="divider-custom-icon ml-2"><i class="fas fa-percent mr-2"></i></div>
                                        <td th:text="${beer.getAbv()}">10%</td>
                                        <div class="divider-custom-icon ml-2"><i class="fas fa-globe-europe mr-2"></i></div>
                                        <td th:text="${beer.getCountry().getName()}">Country</td>
                                    </tr>
                                    </tbody>
                                </div>
                                <div class="container-beer-items">
                                    <tbody>
                                    <tr class="border">
                                        <div class="divider-custom-icon"><i class="fas fa-industry mr-2 "></i></div>
                                        <td th:text="${beer.getBrewery().getName()}">15/10</td>
                                    </tr>
                                    </tbody>
                                </div>
                                <hr>
                                <div class="container-beer-items">
                                    <div th:if="${beer.getAvgRating()}==null">
                                        <td th:text="'Not rated'">Not rated</td>
                                    </div>
                                    <div th:unless="${beer.getAvgRating()}==null">
                                        <span th:if="${beer.getAvgRating()>=1}" class="fa fa-beer checked fa-lg"></span>
                                        <span th:unless="${beer.getAvgRating()>=1}" class="fa fa-beer fa-lg"></span>
                                        <span th:if="${beer.getAvgRating()>=2}" class="fa fa-beer checked fa-lg"></span>
                                        <span th:unless="${beer.getAvgRating()>=2}" class="fa fa-beer fa-lg"></span>
                                        <span th:if="${beer.getAvgRating()>=3}" class="fa fa-beer checked fa-lg"></span>
                                        <span th:unless="${beer.getAvgRating()>=3}" class="fa fa-beer fa-lg"></span>
                                        <span th:if="${beer.getAvgRating()>=4}" class="fa fa-beer checked fa-lg"></span>
                                        <span th:unless="${beer.getAvgRating()>=4}" class="fa fa-beer fa-lg"></span>
                                        <span th:if="${beer.getAvgRating()>=5}" class="fa fa-beer checked fa-lg"></span>
                                        <span th:unless="${beer.getAvgRating()>=5}" class="fa fa-beer fa-lg"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Beer Edit Modal -->
        <div class="modal fade" role="dialog" id="update-beer-modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Beer</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <ul class="nav nav-tabs" id="myUpdateTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="beer-changes-tab" data-toggle="tab" href="#beer-changes" role="tab"
                               aria-controls="user-changes"
                               aria-selected="true">Beer Changes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="delete-beer-tab" data-toggle="tab" href="#beer-delete" role="tab"
                               aria-controls="user-delete"
                               aria-selected="false">Delete Beer</a>
                        </li>
                    </ul>
                    <!--Beer UPDATE TAB-->
                    <div class="tab-content">
                        <div class="tab-pane show active" id="beer-changes" role="tab" aria-labelledby="beer-changes-tab">
                            <form th:action="@{'/beers/'+ ${beer.getId()} +'/update'}"
                                  th:object="${createBeerDto}" class="well form-horizontal" action="" method="post"
                                  id="contact_form">
                                <div class="modal-body p-2" style="margin-left: 5rem; margin-right: 5rem">
                                    <div class="py-1">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <input hidden="hidden" name="id" th:value="${beer.getId()}">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Beer Name</label>
                                                            <input class="form-control" type="text" name="name"
                                                                   th:value="${beer.getName()}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>ABV</label>
                                                            <input class="form-control" type="number" step="any" name="abv"
                                                                   th:value="${beer.getAbv()}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Style</label>
                                                            <select required th:field="*{styleId}" name="style"
                                                                    class="form-control selectpicker">
                                                                <option th:value="${beer.getStyle().getId()}"
                                                                        th:text="${beer.getStyle().getName()}">Change style
                                                                </option>
                                                                <option th:each="style : ${styles}" th:value="${style.id}"
                                                                        th:text="${style.name}">Weiss
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Country</label>
                                                            <select required name="style"
                                                                    class="form-control selectpicker country-dropdown">
                                                                <option th:value="${beer.getCountry().getId()}"
                                                                        th:text="${beer.getCountry().getName()}">Change country
                                                                </option>
                                                                <option th:each="country : ${countries}"
                                                                        th:if="${country.id!=beer.getCountry().getId()}"
                                                                        th:value="${country.id}"
                                                                        th:text="${country.name}">Weiss
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Brewery</label>
                                                            <select th:field="*{breweryId}" name="style"
                                                                    class="form-control selectpicker brewery-dropdown">
                                                                <option id="current-brewery" th:value="${beer.getBrewery().getId()}"
                                                                        th:text="${beer.getBrewery().getName()}">Change brewery
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Picture URL</label>
                                                            <div class="image-input-fields">
                                                                <input class="form-control button-left pictureUrl" id="" type="text"
                                                                       name="picture"
                                                                       th:value="${beer.getPicture()}">
                                                                <label class="form-control btn green button-right overflow-dots"
                                                                       for="pic">Or upload file</label>
                                                                <input hidden="hidden" type="file" class="custom-file-input pictureUpload"
                                                                       id="pic"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea th:field="*{description}" name="description"
                                                              th:placeholder="${beer.getDescription()}"
                                                              placeholder="Beer desc" class="form-control"
                                                              type="text"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex justify-content-center">
                                            <button name="password" class="btn btn-success button-needing-validation"
                                                    type="submit">Save changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--                    DELETE Beer TAB-->
                        <div class="tab-pane  " id="beer-delete" role="tab" aria-hidden="true">
                            <form th:action="@{'/beers/'+ ${beer.getId()} +'/delete'}"
                                  class="well form-horizontal" action="" method="post"
                                  id="delete_form">
                                <div class="modal-body m-2">
                                    <br>
                                    <div class="col d-flex justify-content-center">
                                        <button name="password" class="btn btn-danger btn-lg button-needing-validation"
                                                type="submit">Delete Beer
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:include="fragments/general.html :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script th:href="@{/js/scripts.js}" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script th:src="@{/js/submit-validations.js}" th:inline="javascript" src="../static/js/submit-validations.js"></script>
<script th:src="@{/js/upload-pic-imgur.js}" th:inline="javascript" src="../static/js/upload-pic-imgur.js"></script>
<script th:src="@{/js/dynamic-refresh.js}" th:inline="javascript" src="../static/js/dynamic-refresh.js"></script>
</body>

</html>