<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head>
    <title>Create beer</title>

    <link rel="stylesheet" th:href="@{/css/beerPage/style.css}" type="text/css"
          href="../static/css/beerPage/style.css"/>


    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.11.2/css/all.css}"
          href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap}"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" th:href="@{/css/mdb/mdb.min.css}" href="../static/css/mdb/mdb.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script th:href="@{/js/scripts.js}" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">

    <!-- Fonts CSS-->
    <link th:href="@{/css/heading.css}" href="../static/css/heading.css" rel="stylesheet">
    <link th:href="@{/css/body.css}" href="../static/css/body.css" rel="stylesheet">
    <link th:href="@{/css/properties index.css}" href="../static/css/properties index.css" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet">

</head>

<body>

<div th:include="fragments/general.html :: nav-bar"></div>
<div th:include="fragments/general.html :: succsess-and-error-popup"></div>

<!-- Default form login -->
<div class="container">
    <div class="card m-md-5">
        <form th:action="@{/beers/create/}" th:object="${createBeerDto}" class="text-center border border-light p-5" method="post">

            <p class="h4 mb-4">Create BEER</p>
            <div class="tab-content">
                <div class="profile-img">
                    <img
                            src="https://www.creativefabrica.com/wp-content/uploads/2020/02/11/Beer-Logo-Graphics-1-9-580x386.jpg"
                            alt="" class="profile-pic" id="picture-header" style="width: 15rem"/>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane show active" id="beer-changes" role="tab" aria-labelledby="beer-changes-tab">
                    <div class="modal-body p-2" style="margin-left: 5rem; margin-right: 5rem">
                        <div class="py-1">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <input th:field="*{name}" required class="form-control" type="text" name="name" placeholder="Enter Beer Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">

                                                <input th:field="*{abv}" required class="form-control" type="number" step="any" name="abv"
                                                       placeholder="Please enter ABV %">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <select required th:field="*{styleId}" name="style" class="form-control selectpicker">
                                                    <option value="">Please select style
                                                    </option>
                                                    <option th:each="style : ${styles}" th:value="${style.id}"
                                                            th:text="${style.name}">Weiss
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <select required name="country"
                                                        class="form-control selectpicker country-dropdown">
                                                    <option value="">Please select country
                                                    </option>
                                                    <option th:each="country : ${countries}"
                                                            th:value="${country.id}"
                                                            th:text="${country.name}">Weiss
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <select required th:field="*{breweryId}" name="style"
                                                        class="form-control selectpicker brewery-dropdown">
                                                    <option value="">Please select brewery</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <div class="image-input-fields">
                                                    <input class="form-control button-left pictureUrl" id="" type="text"
                                                           name="picture" placeholder="Please enter picture URL...">
                                                    <label class="form-control btn button-right overflow-dots"
                                                           for="user-pic">Or upload file</label>
                                                    <input hidden="hidden" type="file" class="custom-file-input pictureUpload"
                                                           id="user-pic"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                            <textarea th:field="*{description}" name="description"
                                                      placeholder="Please enter beer description" class="form-control"
                                                      type="text"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <button name="password" class="btn btn-success"
                                        type="submit">Create Beer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script th:src="@{/js/jquery-3.3.1.min.js}" src="../static/js/jquery-3.3.1.min.js"></script>
<script th:src="@{/js/upload-pic-imgur.js}" th:inline="javascript" src="../static/js/upload-pic-imgur.js"></script>
<script th:src="@{/js/dynamic-refresh.js}" th:inline="javascript" src="../static/js/dynamic-refresh.js"></script>
</body>

</html>