<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>User deactivated successfully !</h2>

<a th:href="@{/}" href="index.html"> Click here to go to main page. . </a>

</body>
</html>