<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head>
    <title>Index page</title>
    <!-- Font Awesome icons (free version)-->
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">
    <link th:href="@{/css/properties index.css}" href="../static/css/properties index.css" rel="stylesheet"/>
    <!-- Fonts CSS-->
    <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet">
</head>

<body id="page-top">

<div th:include="fragments/general.html :: nav-bar"></div>
<div th:include="fragments/general.html :: succsess-and-error-popup"></div>

<img id="headerImg"
     src=https://i.ibb.co/8cKqh07/pngwing.png alt="...">
<div>
    <form th:action="@{/}" id="search-section" th:object="${searchBeerDto}" method="get">
        <div class="">
            <select name="orderAscending" class="btn dropdown-toggle button-left search-change-home">
                <option value="true" selected>Asc</option>
                <option value="false">Desc</option>
            </select>
        </div>
        <div class="search-bar ">
            <input th:field="*{name}" type="text" class="form-control button-center search-change-home" id="inlineFormInputName"
                   placeholder="Search by name or #...">
        </div>


        <div class="">
            <div href="#" data-toggle="dropdown" class="btn dropdown-toggle button-center">More</div>
            <div class="dropdown-menu ">
                <select th:field="*{countryId}" class="btn dropdown-toggle mx-3 search-change-home">
                    <option selected value="">Country</option>
                    <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}">Weiss
                    </option>
                </select>
                <div>
                    <select hidden="hidden" th:field="*{breweryId}" class="btn  dropdown-toggle mx-3 brewery-dropdown search-change-home"
                            id="">
                    </select>
                </div>

                <div style="display: grid">
                    <select th:field="*{styleId}" class="btn  dropdown-toggle mx-3 search-change-home" id="style-select">
                        <option selected value="">Style</option>
                        <option th:each="style : ${styles}" th:value="${style.id}" th:text="${style.name}">Weiss
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="">
            <select th:field="*{sortBy}" class="btn dropdown-toggle button-right search-change-home" id="sortBy-select">
                <option selected value="-1">Sort by...</option>
                <option value="name">Name</option>
                <option value="abv">ABV</option>
                <option value="avgRating">Rating</option>
            </select>
        </div>
    </form>
</div>

<hr>

<div class="top-beers" id="top-beers">
    <h1 id="top-beers-header">ALL BEERS: </h1>
</div>

<!--Results tab-->
<div class="search-index" th:fragment="search-index">
    <div class="results ">

        <div id="beerCards" th:each="beer : ${beers}">
            <a th:href="@{'/beers/'+${beer.getId()}}" class="card">

                <div id="picture">
                    <div class="img-fluid img-thumbnail">
                        <div class="overflow-dots">
                            <h3 th:text="${beer.name}" class="card-title text-center ">Card title</h3></div>
                        <img th:src="${beer.getPicture()}"
                             alt="..." src="" class="img-blur beer-card-pictures"></div>
                </div>
                <div class="card-body modal-full-height">
                    <h5 th:text="${beer.getStyle().getName()}" class="card-title text-center ">Style</h5>
                    <hr>
                    <div class="container-beer-items">
                        <tbody>
                        <tr class="border">
                            <div class="divider-custom-icon ml-2"><i class="fas fa-percent fa-lg mr-2"></i></div>
                            <td th:text="${beer.getAbv()}">10%</td>
                            <div class="divider-custom-icon ml-2"><i class="fas fa-globe-europe fa-lg mr-2"></i></div>
                            <td th:text="${beer.getCountry().getName()}">Country</td>
                        </tr>
                        </tbody>
                    </div>

                    <div class="container-beer-items">
                        <tbody>
                        <tr class="border">
                            <div class="divider-custom-icon ml-2"><i class="fas fa-industry fa-lg mr-2 "></i></div>
                            <td th:text="${beer.getBrewery().getName()}">Brewery</td>
                        </tr>
                        </tbody>
                    </div>
                    <hr>
                    <div class="column">
                        <i class="fas fa-tag fa-lg mr-2 "></i>
                        <!--                    <h5 th:text="'Tags: '">tag</h5>-->
                        <span th:if="${beer.getTags().isEmpty()}" th:text="..."></span>

                        <span class="redirectTag m-lg-2" th:each="tag : ${beer.getTags()}" th:text="'#'+${tag.getName()}+' '">tag</span>
                    </div>
                    <hr>
                    <div class="container-beer-items">
                        <div th:if="${beer.getAvgRating()}==null">
                            <td th:text="'Not rated'">15/10</td>
                        </div>
                        <div th:unless="${beer.getAvgRating()}==null">
                            <span th:if="${beer.getAvgRating()>=1}" class="fa fa-beer checked fa-lg"></span>
                            <span th:unless="${beer.getAvgRating()>=1}" class="fa fa-beer fa-lg"></span>
                            <span th:if="${beer.getAvgRating()>=2}" class="fa fa-beer checked fa-lg"></span>
                            <span th:unless="${beer.getAvgRating()>=2}" class="fa fa-beer fa-lg"></span>
                            <span th:if="${beer.getAvgRating()>=3}" class="fa fa-beer checked fa-lg"></span>
                            <span th:unless="${beer.getAvgRating()>=3}" class="fa fa-beer fa-lg"></span>
                            <span th:if="${beer.getAvgRating()>=4}" class="fa fa-beer checked fa-lg"></span>
                            <span th:unless="${beer.getAvgRating()>=4}" class="fa fa-beer fa-lg"></span>
                            <span th:if="${beer.getAvgRating()>=5}" class="fa fa-beer checked fa-lg"></span>
                            <span th:unless="${beer.getAvgRating()>=5}" class="fa fa-beer fa-lg"></span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<section class="page-section bg-primary text-white mb-0 footer-box" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading d-inline-block text-white">ABOUT</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="col">
            <div class="">
                <p class=" lead text-center">Beers-the sequel is an fully interactive web based app, that gives its users the ability to
                    create, read, update and delete their favorite beers. Each beer has detailed information about it from the ABV (alcohol
                    by volume) to the style and description.
                    Each member of the app can add new beers and there is a rating system for the more competitive ones.</p>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary d-inline-block mb-0">CONTACT</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Content-->
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="icon-contact mb-3"><i class="fas fa-mobile-alt"></i></div>
                    <div class="text-muted">Phone</div>
                    <div class="lead font-weight-bold">+359 89 66 22 819</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="icon-contact mb-3"><i class="far fa-envelope"></i></div>
                    <div class="text-muted">Email</div>
                    <a class="lead font-weight-bold" href="mailto:name@example.com">ioankanchev@yahoo.com</a>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
<div th:include="fragments/general.html :: footer"></div>
<script src="https://kit.fontawesome.com/726b3d9a86.js" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script th:src="@{/js/dynamic-refresh.js}" th:inline="javascript" src="../static/js/dynamic-refresh.js"></script>
<script>
    // Prevent dropdown menu from closing when click inside the form
    $(document).on("click", ".dropdown-menu", function (e) {
        e.stopPropagation();
    });
</script>
</body>

</html>