<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recover password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}"
          href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sign-up-util.css}"
          href="../static/css/sign-up-util.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sign-up.css}"
          href="../static/css/sign-up.css">


</head>
<body>

<div class="limiter">
    <div class="container-login100 ">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54 ">
            <form class="login100-form validate-form" th:object="${updatePasswordDto}" action="#" th:action="@{/sign-up/recover-password/change}"
                  method="post"
                  name="myform">
                <span th:text="'Hello, '+ ${user.username} +' you can change your password.' " class="login100-form-title p-b-49">
					</span>
                <div>
                    <p style="text-align: center">
                        <i th:if="${success}" th:text="${success} + ' redirecting...'"
                           style="color: limegreen">
                            Wrong username or password.
                        </i>
                        <i th:if="${error}" th:text="${error}" style="color: red">
                            You have successfully logged out.
                        </i>
                    </p>
                    <input hidden="hidden" name="id" th:value="${updatePasswordDto.getId()}">
                    <input hidden="hidden" name="validationToken" th:value="${updatePasswordDto.getValidationToken()}">
                    <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">

                        <input class="input100" type="password" name="newPassword" id="password" placeholder="Your new password" required>
                        <span class="focus-input100" data-symbol="&#xf206;"></span>

                    </div>
                    <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
                        <input class="input100" type="password" name="confirmPassword" id="confirm_password" placeholder="Confirm password"
                               required>
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>
                    <br/>
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit" value="Login" id="submit">
                            Send
                        </button>
                    </div>
                </div>

                <div class="flex-col-c p-t-55">
                    <a class="txt2" th:href="@{/}" href="sign-up-page.html">
                        Homepage
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="../static/js/sign-up-main.js"></script>
<script src="../static/js/Script1.js"></script>
<script src="../static/js/validations.js"></script>
<script src="../static/js/redirects.js"></script>

</body>
</html>