<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up V4</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}"
          href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sign-up-util.css}"
          href="../static/css/sign-up-util.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sign-up.css}"
          href="../static/css/sign-up.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100" >
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" action="#" th:action="@{/sign-up}" th:object="${user}"
                  method="post">
					<span class="login100-form-title p-b-49">
                        Beer Tag
                        <br/>
						Sign Up
					</span>
                <div th:if="${error!=null}">
                    <strong>Warning!</strong>
                    <p th:text="${error}" style="color: red">
                        Please enter a valid value in all the required fields before proceeding.
                        <button th:type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is required">
                    <input class="input100" name="username" placeholder="Type your username" required
                           type="text" th:field="*{username}">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
                    <input class="input100" id="password" type="password" th:field="*{password}" name="pass"
                           placeholder="Type your password" required>
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
                    <input class="input100" type="password" id="confirm_password" th:field="*{confirmPassword}" name="pass"
                           placeholder="Confirm your password" required>
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-23" data-validate="First name is required">
                    <input class="input100" type="text" name="fname" th:field="*{firstName}"
                           placeholder="Type your first name" required>
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-23" data-validate="Last name is required">
                    <input class="input100" type="text" th:field="*{lastName}" name="lname"
                           placeholder="Type your last name" required>
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-23" data-validate="Email is required">

                    <input class="input100" type="email" th:field="*{email}" name="email" placeholder="Type your email"
                           data-error="Bruh, that email address is invalid" required>
                    <span class="focus-input100" data-symbol="&#9993;"></span>
                </div>

                <div class="text-right p-t-8 p-b-31">
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">
                            Let's get started
                        </button>
                    </div>
                </div>
                <div class="flex-col-c p-t-55">
                    <a class="txt2" th:href="@{/}" href="sign-up-page.html">
                        Homepage
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script  src="../static/js/sign-up-main.js"></script>
<script type="text/javascript" src="../static/js/validations.js"></script>
</body>
</html>