<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .table {
            display: table;
        }

        .header {
            display: table-header-group;
            font-weight: bold;
        }

        .rowGroup {
            display: table-row-group;
        }

        .row {
            display: table-row;
        }

        .cell {
            display: table-cell;
            width: 25%;
        }

        .error {
            color: red;
        }
    </style>

</head>
<body>
<div th:="${users.isEmpty()}">
    <h2 >No Users</h2>
</div>
<div th:unless="${users.isEmpty()}">
    <h2 >Users</h2>

    <div class="table">

        <div class="header">
            <div class="cell" >Name</div>
            <div class="cell" >Password</div>
            <div class="cell">Email</div>
        </div>

        <div class="row" th:each="user : ${users}">
            <div class="cell" >Name</div>
            <div class="cell" >Password</div>
            <div class="cell" >Email</div>
        </div>

    </div>
</div>
</body>
</html>
