<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>User page</title>
    <link rel="stylesheet" th:href="@{/css/mdb/mdb.min.css}" href="../static/css/mdb/mdb.min.css">
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">
    <link th:href="@{/css/properties index.css}" href="../static/css/properties index.css" rel="stylesheet"/>
    <!-- Fonts CSS-->
    <link th:href="@{/css/heading.css}" href="../static/css/heading.css" rel="stylesheet">
    <link th:href="@{/css/body.css}" href="../static/css/body.css" rel="stylesheet">
    <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link th:href="@{/css/user-profile-page.css}" href="../static/css/user-profile-page.css" rel="stylesheet">


</head>

<body style="padding-right: 0!important;">
<div th:include="fragments/general.html :: nav-bar"></div>
<div th:include="fragments/general.html :: succsess-and-error-popup"></div>


<div class="container card emp-profile">
    <!--    <form method="post">-->
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img th:src="${user.getPicture()}"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                     alt="" class="profile-pic " id="picture-header"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5 th:text="${user.firstName+' '+user.lastName}">
                    Kshiti Ghelani
                </h5>
                <h6 class="mb-5" th:text="${user.getHighestAuthority().replace('ROLE_','')}">
                    Web Developer and Designer
                </h6>
                <ul class="nav nav-tabs " id="myTab" role="tablist">
                    <li class="nav-item border">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                           aria-selected="true">About</a>
                    </li>
                    <li class="nav-item border">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                           aria-selected="false">Beers</a>
                    </li>
                </ul>
            </div>
        </div>
        <div th:if="${isPersonal}" class="col-md-2">
            <input class="profile-edit-btn mb-3" type="button"
                   data-toggle="modal"
                   data-target="#update-personal-modal" data-row="${user}" name="btnAddMore" value="Edit Profile"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${user.firstName+' '+user.lastName}">Kshiti Ghelani</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${user.email}">kshitighelani@gmail.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Role</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${user.getHighestAuthority().replace('ROLE_','')}">Web Developer and Designer</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="m-2">
                        <h5 class="text-center">Created beers: </h5>
                        <div class="card-header user-beer-list">

                                <div th:each="beer : ${user.getCreatedBeers()}">
                                    <a class="btn" th:href="@{@{'/beers/'+${beer.getId()}}}" href="" th:text="${beer.getName()}">Web
                                        Designer</a><br/>
                                </div>
                        </div>
                      <br>
                        <div class="m-2">
                            <h5 class="text-center">Liked beers:</h5>
                            <div class="card-header user-beer-list">
                                <div th:each="beer : ${user.getFavouriteBeers()}">
                                    <a class="btn" th:href="@{@{'/beers/'+${beer.getId()}}}" href="" th:text="${beer.getName()}">Web
                                        Designer</a><br/>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="m-2 ">
                            <h5 class="text-center">Drunk beers: </h5>
                            <div class="card-header user-beer-list">
                                <br>

                                <div th:each="beer : ${user.getDrunkBeers()}">
                                    <a class="btn" th:href="@{@{'/beers/'+${beer.getId()}}}" href="" th:text="${beer.getName()}">Web
                                        Designer</a>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- User Edit Modal -->
    <div th:if="${isPersonal}" class="modal" role="dialog" id="update-personal-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update User</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <ul class="nav nav-tabs" id="myUpdateTam" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="user-changes-tab" data-toggle="tab" href="#user-changes" role="tab"
                           aria-controls="user-changes"
                           aria-selected="true">User Changes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="password-tab" data-toggle="tab" href="#password-changes" role="tab"
                           aria-controls="password-changes"
                           aria-selected="false">Password Change</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="delete-tab" data-toggle="tab" href="#user-delete" role="tab"
                           aria-controls="user-delete"
                           aria-selected="false">Delete profile</a>
                    </li>
                </ul>
                <!--PROFILE UPDATE TAB-->
                <div class="tab-content">
                    <div class="tab-pane show active" id="user-changes" role="tab" aria-labelledby="user-changes-tab">
                        <form th:action="@{'/users/profile/update'}"
                              th:object="${updateUserDto}" class="well form-horizontal" action=" " method="post"
                              id="contact_form">
                            <div class="modal-body">
                                <div class="py-1">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <input hidden="hidden" name="id" th:value="${user.getId()}">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>First Name</label>
                                                        <input class="form-control" type="text" name="firstName"
                                                               th:value="${user.getFirstName()}">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Last Name</label>
                                                        <input class="form-control" type="text" name="lastName"
                                                               th:value="${user.getLastName()}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Username</label>
                                                        <input class="form-control" type="text" name="username"
                                                               th:value="${user.username}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <input class="form-control" type="text" name="email"
                                                               th:value="${user.email}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Picture URL</label>
                                                        <div class="pic image-input-fields">
                                                        <input class="form-control pictureUrl" type="text" name="picture"
                                                               th:value="${user.picture}">
                                                        <label class="form-control m-0 btn overflow-dots" for="pic">Or upload file</label>
                                                        <input hidden="hidden" type="file" class="custom-file-input pictureUpload" id="pic"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col d-flex justify-content-end">
                                            <button th:field="*{password}" name="password"
                                                    class="btn btn-primary button-needing-validation"
                                                    type="submit">Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--PASSWORD UPDATE TAB-->
                    <div class="tab-pane  " id="password-changes" role="tab" aria-labelledby="password-tab">
                        <form th:action="@{'/users/profile/update/password'}"
                              th:object="${updatePasswordDto}" class="well form-horizontal" action=" " method="post"
                              id="update_form">
                            <div class="modal-body">
                                <input hidden="hidden" name="id" th:value="${user.getId()}">
                                <br>
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <div class="mb-2"><b>Change Password</b></div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>New Password</label>
                                                    <input th:field="*{newPassword}" required class="form-control" type="password"
                                                           placeholder="••••••">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Confirm <span
                                                            class="d-none d-xl-inline">Password</span></label>
                                                    <input th:field="*{confirmPassword}" required class="form-control" type="password"
                                                           placeholder="••••••">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <button th:field="*{oldPassword}" name="password" class="btn btn-primary button-needing-validation"
                                            type="submit">Save Changes
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--DELETE PROFILE TAB-->
                    <div class="tab-pane  " id="user-delete" role="tab" aria-hidden="true">
                        <form th:action="@{'/users/profile/delete'}"
                              th:object="${deleteUserDto}" class="well form-horizontal" action="" method="post"
                              id="delete_form">
                            <div class="modal-body">
                                <input hidden="hidden" name="id" th:value="${user.getId()}">
                                <br>
                                <div class="col d-flex justify-content-center">
                                    <button th:field="*{password}" name="password" class="btn btn-danger button-needing-validation"
                                           type="submit">Delete Profile
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div th:include="fragments/general.html :: footer"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>

<script th:src="@{/js/indexPageSearch.js}" th:inline="javascript" src="../static/js/indexPageSearch.js"></script>
<script th:src="@{/js/index.js}" th:inline="javascript" src="../static/js/index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}" src="../static/js/jquery-3.3.1.min.js"></script>

<script th:src="@{/js/upload-pic-imgur.js}" th:inline="javascript" src="../static/js/upload-pic-imgur.js"></script>

<script th:src="@{/js/submit-validations.js}" th:inline="javascript" src="../static/js/submit-validations.js"></script>

</body>

</html>